{{#>layout}}
{{#*inline "content"}}

<h1>Join {{organizationName}} on utilhq</h1>

<p>
    You've been invited to join {{organizationName}} on <a href="{{APP_URL}}">utilhq</a>. Click the button below to set up your account:
</p>

{{> actionButton url=signupUrl label='Join your team' }}


{{/inline}}
{{/layout}}
